@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  color: rgb(87, 86, 86);
  /* margin: 0px;
  padding: 0px; */
}
.background {
  width: 100%;
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #051322, #15457c);
  background-size: 100% 550px !important;
}
*::-webkit-scrollbar {
  display: none;
}

.container-holder {
  width: 1200px;
  margin: auto;
  /* margin-left: 40px; */
  padding-top: 10px;
}
.logo {
  width: 113px;
  height: 36px;
}
.a {
  text-decoration: none;
  /* color: none; */
}
.data {
  display: flex;
  justify-content: center;
  position: relative;
  /* margin-left: 50px; */
}
.categories {
  background-color: white;
  width: 950px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 15px 1px #7a7a7a;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}
.categories span {
  font-size: 14px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fa-solid,
.fa-regular span {
  font-size: 24px;
  margin-bottom: 5px;
}

.tickets {
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 100px;
}
.ticket-type {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 800;
  display: flex;
}
.ticket-type span {
  padding: 5px;
  margin: 0px;
}
.ticket-type span i {
  font-size: 14px;
}
.selected-ticket-type {
  background-color: rgb(211, 211, 211);
  border-radius: 30px;
}
.latoBold {
  font-weight: 700;
}
.flight-search {
  font-family: "Lato";
  z-index: 3;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  margin: 10px;
  border-radius: 10px;
  padding: -20px;
}
.flight {
  margin: 10px 20px;
  color: rgb(68, 67, 67);
  width: 300px;
  /* font-size: 1px; */
  border-right: 1px solid rgb(230, 230, 230);
}
.lineHeight36 {
  line-height: 36px;
}
.departure {
  margin: 10px;
  color: rgb(68, 67, 67);
  width: 130px;
  border-right: 1px solid rgb(230, 230, 230);
}
.departure h1,
h3 {
  margin: 0px;
  color: black;
  font-weight: 600;
}
.flight h1 {
  margin: 0px;
  color: black;
  font-weight: 900;
}
.fa-right-left {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: blue;
  position: relative;
  margin-left: -20px;
  margin-right: 20px;
  /* border: 1px solid rgb(230, 230, 230); */
}
.fa-chevron-down {
  color: blue;
  font-size: 15px;
  margin-left: 5px;
}
.fare-search {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 14px;
  display: flex;
}
.fare-select {
  width: 80px;
  display: flex;
}
.selected-fare-type i {
  font-size: 14px;
  color: blue;
}
.fare-type {
  width: 600px;
  display: flex;
  justify-content: center;
}
.fare-type span {
  color: black;
  background-color: rgba(226, 223, 223, 0.452);
  padding: 5px;
  margin-left: 2px;
  font-size: 12px;
  font-weight: 501;
}
.selected-trend-type {
  font-size: 13px;
  margin: 0px;
}
.trending {
  margin-left: 130px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.trend-type span i {
  font-size: 14px;
  color: blue;
  margin: 2px;
}
.trend-type span {
  color: black;
  background-color: rgba(226, 223, 223, 0.452);
  margin-left: 10px;
  padding: 5px;
}
.search-button {
  width: 216px;
  height: 44px;
  font-weight: 600;
  background-image: linear-gradient(93deg, #53b2fe, #065af3);
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20;
  left: 40%;
}
.additional-feature {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white;
  margin-top: 90px;
  border-radius: 30px;
  width: 80%;
  /* justify-content: space-evenly; */
  box-shadow: 0px 1px 15px 1px #7a7a7a;
}
.feature-type span i {
  font-size: 20px;
  color: blue;
  align-items: center;
  /* margin: 2px; */
}

.feature-type p {
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 15px; */

  border-right: 1px solid rgba(155, 153, 153, 0.377);
}
.container-card {
  box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
  margin-top: 50px;
  background-color: white;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 1200px;
  margin: auto;
  /* margin-left: 50px; */
  padding-top: 10px;
}
.container-card h1 {
  color: black;
}
.download-content h1 {
  font-size: 40px;
}
.download-content {
  font-family: "Lato";
  display: flex;
  font-size: 50px;
  justify-content: center;
}
.download-content p {
  margin-top: -15px;
  font-size: 22px;
}
.dwnld {
  display: flex;
  border-right: 1px solid rgb(184, 182, 182);
  padding-right: 10px;
  /* justify-content: center; */
}
.dwnld span img {
  position: relative;
  padding-right: 30px;
  margin-left: -130px;
}
.dwnld span input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
}
.dwnld-store {
  margin-left: 10px;
}
.g-store img {
  height: 70px;
  width: 180px;
}
.a-store img {
  height: 45px;
  width: 160px;
  margin-left: 10px;
  margin-top: -20px;
}
.dwnld-store {
  display: flex;
  justify-content: center;
}
.dwnld2 p {
  margin: 0px;
  font-size: 15px;
  margin-left: 20px;
  color: rgb(22, 22, 22);
}
.qr img {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  margin-top: 10px;
}
.qr p {
  text-align: center;
}
.dwnld2 {
  margin-left: 20px;
}
.card img {
  width: 100%;
  height: 100%;
}

.card__thumb {
  position: relative;
  /* max-height: 400px; */
  /* margin-left: -10px */
  width: 210px;
  height: 230px;
  overflow: hidden;
  border-radius: 10px;
}
.shadow {
  box-shadow: 0px -10px 0px 0px #cac9c9bb, 0px -20px 0px 0px #eee8e8bb;
  border-radius: 10px;
  -webkit-animation-name: shadow-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: shadow-show;
  animation-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
}

.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
.card__caption {
  display: column;
  position: absolute;
  top: 80%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  transition: 0.3s;
}
.card h3 {
  font-size: 14px;
  background-color: white;
  color: black;
  padding: 2px;
  width: 40%;
  font-weight: bold;
  border-radius: 5px;
  align-items: left;
}

.card p {
  margin: 0px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.item-carousel {
  display: flex;
}

.card__title p {
  margin: 0px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.description {
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
.description h1 {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(53, 52, 52);
}
.description p {
  font-size: 12px;
  /* color: rgb(53, 52, 52); */
}
.about-site {
  position: relative;
  background-color: #e7e7e7;
  display: flex;
  margin-left: -50px;
  overflow: hidden;
  padding-bottom: 50px;
}
.about {
  width: 28%;
  margin-left: 30px;
  margin-top: 50px;
}
.about-site h1 {
  font-size: 16px;
  color: rgb(43, 42, 42);
}
.about-site p {
  padding-top: 20px;
  font-size: 12px;
  color: rgb(65, 64, 64);
}
.footer {
  display: flex;
  padding-top: 50px;
  margin-top: 50px;
  background-color: black;
  margin-bottom: -100px;
  padding-bottom: 40px;
}
.multimedia img {
  margin-left: 50px;
  width: 30px;
  height: 30px;
}
.copyright {
  margin-left: 65%;
  margin-right: -10px;
  text-align: right;
  color: white;
}
.content-header {
  display: flex;
  text-align: center;
  align-items: center;
}

.content-item ul {
  display: flex;
  list-style: none;
  padding-left: 10px;
}
.content-item li {
  padding-left: 25px;
  font-size: 16px;
  font-weight: 800;
  color: #555454;
  text-transform: uppercase;
  letter-spacing: 0rem;
}
.content-item hr {
  margin-left: 35px;
  margin-top: -8px;
}
.arrow {
  right: 0;
  margin-left: 170px;
}
.arrow i {
  color: #065af3;
  padding: 10px;
  font-size: 17px;
  box-shadow: 1px 1px 5px 1px #c4c2c271;
}
.horizontal-card {
  width: 30rem;
  box-shadow: 1px 1px 5px 1px #c4c2c271;
  display: flex;
  border-radius: 5px;
}
.horizontal-card img {
  width: 130px;
  border-radius: 5px;
}
.left-content p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0px;
}
.left-content {
  width: 30%;
  padding: 10px;
}
.right-content {
  margin: 10px;
}
.right-content p {
  margin: 0px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(146, 146, 146);
}
.right-content h3 {
  margin-top: 5px;
  font-size: 18px;
  color: black;
  font-weight: bold !important;
}
.right-content hr {
  width: 35px;
  color: tomato;
  /* border: 1px solid red; */
}
.right-content a {
  text-decoration: none;
  padding-bottom: 1px;
  font-weight: bold;
  color: #2382c2;
  font-size: 15px;
  text-align-last: end;
}
.card-pair {
  margin-right: 20px;
}

.luxeSel {
  width: 1200px;
  margin: auto;
  background-image: url(https://promos.makemytrip.com/Hotels_product/Luxe/bkg-dt.png);
  margin-bottom: 20px !important;
  box-sizing: border box;
  padding: 34px 30px 34px 40px;
  background-size: cover;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 30px rgb(0 0 0 / 10%);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #fffbf4;
  cursor: pointer;
}
.luxeSel__dtl {
  flex: 1;
  position: relative;
  z-index: 1;
}
.luxeSel__dtl--hdng {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 5px;
  color: #e1be5b;
  margin: 0;
  padding: 0;
  list-style: none;
}
.luxeSel__dtl--desc {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.luxeSel__cta {
  display: inline-flex;
  background: #e1be5b;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 21%);
  border-radius: 64px;
  padding: 12px 32px;
  color: #000000;
  font-size: 14px;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
a {
  color: var(--color-primary, #008cff);
  cursor: pointer;
  text-decoration: none;
}

.luxeSel__list {
  display: flex;
  margin-left: 70px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.luxeSel__list--item {
  margin-right: 20px;
  width: 233px;
  flex-shrink: 0;
  background: #ffffff;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 6px;
  overflow: hidden;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}

.luxeSel__list--itemImg {
  height: 170px;
  display: block;
}
.luxeSel__list--itemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.luxeSel__list--itemDtl {
  padding: 10px 16px;
  box-sizing: border-box;
  margin-top: -20px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.chNavIcon {
}
.chSprite {
  background-image: url(https://imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/commonHeaderSprite11.webp) !important;
}
.chSprite {
  background-repeat: no-repeat;
  background-size: 230px 306px;
}
.chFlights {
  height: 34px;
  width: 40px;
  background-size: 300px 400px;
  background-position: -4px -37px;
}
.chHomestays {
  height: 34px;
  width: 40px;
  background-size: 300px 400px;
  background-position: -105px -153px;
}
.chHolidays {
  height: 34px;
  width: 55px;
  background-size: 300px 400px;
  background-position: -70px -235px;
}
.chTrains {
  height: 34px;
  width: 40px;
  background-size: 300px 400px;
  background-position: -179px -37px;
}
.chBuses {
  height: 34px;
  width: 25px;
  background-size: 300px 400px;
  background-position: -121px -38px;
}
.chCabs {
  height: 34px;
  width: 25px;
  background-size: 300px 400px;
  background-position: -154px -39px;
}
.chForex {
  height: 34px;
  width: 40px;
  background-size: 300px 400px;
  background-position: -132px -235px;
}
.chCharterFlights {
  height: 34px;
  width: 40px;
  background-size: 300px 400px;
  background-position: -122px -72px;
}
.chActivities {
  height: 34px;
  width: 40px;
  background-size: 300px 400px;
  background-position: -207px -72px;
}
.chHotels {
  height: 34px;
  width: 40px;
  background-size: 300px 400px;
  background-position: -50px 1px;
}
.navOnly .active .chHotels {
  background-position: -50px 1px;
}
